APP_URL=localhost
SUPPORT_EMAIL=support@${APP_URL}
PORT=5000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=psqlroot
DATABASE_PASSWORD=password
DATABASE_NAME=nest_experiment

JWT_SECRET=fa420ba16c67af32d47d2bb8ac01a77d
JWT_EXPIRATION_TIME=604800